@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@font-face {
    font-family: "NotoSansKR-Medium";
    src:url(../fonts/NotoSansKR-Medium.otf);
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
    color:black;
    list-style-type: none;
    text-transform: capitalize;
    font-family: "NotoSansKR-Medium";
}


 i {color:white;}

/* 전체 사이즈 영역 */
.container {
    /* 가로사이즈 */
    width: 1920px;
    /* 가운데 정렬 */
    margin: 0 auto;
    /* position: absolute 부모 
       요소의 위치를 선정하는 기준  */
    position: relative;
    /* 넘치는 컨테츠는 잘라서 안보이게  */
    overflow:hidden; 
    background-color: rgba(45, 45, 45, 0.6);
   
   
}

/* header ================================================ */

header {
    /* float 대신 flex 를 사용하여 정렬 */
    display:flex;
    justify-content: space-between;
    width: 80%;
    height: 94px;
    /* border: 1px solid red; */
    margin:0 auto;
    /* header 사이 여백 줄이기위해서  */
    margin-bottom: -10px;
    background-color: #ddd;
}

/* header logo_img */

header #logo_img {
    width:200px;
    height: 90px;
    background: url(../img/lamborghini.png);
    background-repeat: no-repeat;
    background-position:left center;
    background-size: 100%;
    text-indent: -9999px; 
    /* border: 1px solid red; */
   
}

/* header ul li */

header nav ul.gnb li {
    /* 가로정렬 */
    display: inline-block;
    height: 90px;
    /* 줄간격은 height 와 동일하게 */
    line-height: 90px;
    /* 위아래 좌우 */
    padding: 0 30px;
    /* 최상위인 html 을 기준으로 1.2 */
    font-size: 1.2rem;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

header nav ul.gnb li a {font-family: "NotoSansKR-Medium" ;}

/* header li hover  a */



header nav ul.gnb li:hover a {
    color:cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 2px;
    box-sizing: border-box;
    transition: all 1s ease;
}

/* header category  */

header .category {
    height: 90px;
    line-height: 90px;
    /* 위아래 좌우 */
    padding: 0 30px;
    box-sizing: border-box;

    /* border: 1px solid red; */
    
}

header .category .btn {
    padding: 10px 40px;
    background-color: gray;
    color:black;
    cursor: pointer;
}

header .category .btn i {
    color:black;
}

header .category .btn:hover,
header .category .btn i:hover

 {
    color:white;
}

/* sidebar_menu ===================================================================*/

.sidebar_menu {
    width: 100%;
    height: 100%;
    background: rgba(45, 45, 45, 0.7);
    /* 뷰포트 기준  */
    position: fixed;
    top:-100%;
    left:0;
    /* 동작 에니메이션 */
    /* [property] [duration] [timing] [delay] */
    /* transition: all 1s ease; */
    transition-property: all;
    transition-duration:1s;
    transition-timing-function: ease;
    z-index:-1;
    opacity: 0;
    overflow:hidden;
}

.sidebar_menu .sidebar_inner {
    /* container 영역의 relative */
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
    
    /* border: 1px solid red; */
}

.sidebar_menu .sidebar_inner a {
    display:block;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color:white;
}

/* .sidebar_menu .sidebar_inside_menu hover */
.sidebar_menu .sidebar_inner a:hover {
    color:cornflowerblue;
    transform:scale(1.2);
    transition-property:all;
    transition-duration:1s;
    transition-timing-function: ease;
}


input[name='catego'] {
    /* input checkbox 를 지우기위해서  */
    display: none;
}

input#catego:checked ~ .sidebar_menu {
    top:0;
    left:0;
    opacity:1;
    z-index: 3;
}

.sidebar_menu .close_icon {
    position: fixed;
    top: 20%;
    right: 22%;
    font-size: 50px;
    cursor: pointer;
} 

/* img slide =====================================================================*/

section.slide_img {
    /* 1920px x 4  */
    width: 7680px;
    height: 800px;
    /* 자식속성에 absolute 적용하기위해서 */
    position: relative;
   



    /* border: 1px solid red; */
}

section.slide_img ul {
    /* absolute 로 사진을 겹치게 */
    position: absolute;
    animation-name : slide_im;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}


@keyframes slide_im {
    
    0%{left:0;}
    25%{left: -1920px;}
    50%{left: -3840px;}
    75%{left:-5760px;}
    0%{left:0;}
    /* 마지막 값은 1920 x 3 */
    /* 첫번 째 장은 재외 */
    /* 100 분율 로 4를 나워서 25% */
}

section.slide_img ul li {
    float:left;
    width: 1920px;
    height: 800px;
    box-sizing: border-box;
}

section.slide_img ul li img {
    width: 100%;
    height: 100%;
}

/* 01-05 수요일========================================================================= */

section .title {
    color: #000;
    text-align: center;
}

section .title h2 {
    font-size: 45px;
    margin-bottom: 5px;
    font-weight: normal;
}

 span {
    color:orange;
}

section .title p {
    font-size: 18px;
    line-height: 30px;
    color: #555;
}

/* section.content */

section.content {
    width: 80%;
    margin:0 auto;
    background-color: #fff;
    padding: 50px 0;
    border: 1px solid red;
    box-sizing: border-box;
    
}

/* section.content  ul */

section.content ul {
    /* 워아래 좌우 */
    margin: 30px auto;
    width: 100%;
    /* ul 태그안에서 넘치면 가려짐 */
    overflow:hidden;
}

section.content ul li {
    float:left;
    width: calc(90%/3);
    height: 100%;
    box-sizing: border-box;
}

section.content ul li:first-child {
    margin-left: 60px;
}


section.content ul li a {
    /* 
    display:block 요소는 세로 정렬이지만
    상위요소인 li 태그에 정렬을 왼쪽 정렬로 나누어서 세로 정렬 됨
     */
    display:block;
    width: 80%;
    margin: 0 auto;
    padding-left:30px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid red;
}

section.content ul li a p.title_img {
    width: 90%;
    height: 200px;
    
    /* 
    section 컨텐츠 클래스에 있는  
    ul li a 호버시 p.title_img 클래스에있는 
    img 가 클릭됬을시에 overflow:hidden 속성을
    안주면 전체 이미지 크기가 커짐 그래서
    아래 택스트가 가려짐
    */
    overflow: hidden;
    

}

section.content ul li a p.title_img img {
    /* 
    상위 요소인 p.title_img 의 폭에 맞추어 100%
    
     */
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    
}

section.content ul li a:hover p.title_img img {
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

/* section.content .text_info */

section.content ul li a .text_info {
    padding: 10px ;
    line-height: 30px;
    width: 83%;
    position: relative;

    border: 1px solid red;
}

section.content ul li a .text_info h3 {
    font-size: 20px;
}


section.content ul li a .text_info p {
    font-size: 16px;
}

section.content ul li a .text_info .learn_more {
    text-transform: capitalize;
    font-size: 20px;
    background-color: gray;
    color:black;
    width: 30%;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top:40px;
    right:10px;
    transition: all 1s ease;
}


section.content ul li a .text_info .learn_more i {
    color:black;
}

section.content ul li a:hover .learn_more,
section.content ul li a:hover .learn_more i
 {
    color:white;
    transition: all 1s ease;
}