/* reset */
* {
    margin:0; padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:black;
    
}

.wrap {
    width: 1600px;
    height: auto;
    margin: 50px auto;
    
}

.wrap .info_page {
    width: 95%;
    height: 95%;
    margin: 10px auto;
    display:flex;
    flex-wrap: wrap;
    position: relative;
}


.wrap .info_page .text-page {
    position: relative;
    box-shadow: 10px 10px 10px rgba(200, 200, 200, 0.3);
    border-radius: 30px;
    margin:0 10px;
    width: 40%;
}

.wrap .info_page .text-page p {
    padding:4px;
    line-height: 25px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 19px;
    
    
}

.wrap .info_page .text-page button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
}

.wrap .info_page .text-page button:hover a {
    color: white;
    
}

.wrap .info_page > h2 {
   position: absolute;
   top: 10px;
   left: 10px;
   color:white;
   
}

.info_page .img-list {
    width: 50%;
    height: 50%;
    

}

.info_page .img-list img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.wrap .info_page .toDoList {
    width: 90%;
    height: 100%;
    margin-top: 10px;
}

.wrap .info_page .toDoList h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}


.wrap .info_page .toDoList .toDo  {
    display: flex;
    flex-wrap: wrap;
}


/* input 스타일 */
.wrap .info_page .toDoList .toDo input {
    display:none;
}

input#study + label {
    cursor: pointer;
    position: absolute;
    left:10px;
    top:10px;
}

input#study + label:before {
    
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border: 1px solid #cbcbcb;
    background-color: white;
    /* 체크 전과 후 높이 차이 설정 */
    vertical-align: middle;

}





input#study:checked + label:before{
    content:"\f00c";/*폰트어썸 유니코드*/
    font-family:"Font Awesome 5 free"; /*폰트어썸 아이콘 사용*/
    font-weight:900;/*폰트어썸 설정*/
    color:#fff;
    background-color:red;
    border-color:#000;
    font-size:13px;
    text-align:center;
    }

/* read */

    input#read + label {
        cursor: pointer;
        position: absolute;
        left:10px;
        top:10px;
    }



    input#read + label:before {
    
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        line-height: 17px;
        border: 1px solid #cbcbcb;
        background-color: white;
        /* 체크 전과 후 높이 차이 설정 */
        vertical-align: middle;
    
    }
    
    
    input#read:checked + label:before{
        content:"\f00c";/*폰트어썸 유니코드*/
        font-family:"Font Awesome 5 free"; /*폰트어썸 아이콘 사용*/
        font-weight:900;/*폰트어썸 설정*/
        color:#fff;
        background-color:red;
        border-color:#000;
        font-size:13px;
        text-align:center;
        }
    
/* exercise */

input#exercise + label {
    cursor: pointer;
    position: absolute;
    left:10px;
    top:10px;
}



input#exercise + label:before {

    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border: 1px solid #cbcbcb;
    background-color: white;
    /* 체크 전과 후 높이 차이 설정 */
    vertical-align: middle;

}


input#exercise:checked + label:before{
    content:"\f00c";/*폰트어썸 유니코드*/
    font-family:"Font Awesome 5 free"; /*폰트어썸 아이콘 사용*/
    font-weight:900;/*폰트어썸 설정*/
    color:#fff;
    background-color:red;
    border-color:#000;
    font-size:13px;
    text-align:center;
    }


.wrap .info_page .toDoList .toDo div {
    width: calc(95%/3);
    margin:9px;
    position: relative;
}

.wrap .info_page .toDoList .toDo div input {
    position: absolute;
    left:10px;
    top:10px;
}

.wrap .info_page .toDoList .toDo div img {
    width: 100%;
}